
@{
    ViewBag.Title = "Call History Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()

<div class="panel panel-default">
    <div class="panel-heading">
        <section class="content-header">
            <h6 class="panel-title">All Calll History</h6>
            <ol class="breadcrumb">
                <li class="active"><a href="/CallHistroy/CallHistoryForCompanyStaff"><i class="fa fa-dashboard"></i> All Call History</a></li>
            </ol>
        </section>
    </div>

    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Filter Call History:</h4>
            </div>
            <div class="panel-body">
                <div class="form-group col-sm-12">
                    <div class="col-md-5" style="padding-left: 0px;">
                        @Html.TextBox("StartDateID", null, new { @class = "form-control input-sm col-sm-11", @placeholder = " Start Date " })
                    </div>
                    <div class="col-md-5" style="padding-left: 0px;">
                        @Html.TextBox("EndDateID", null, new { @class = "form-control input-sm col-sm-11", @placeholder = " End Date " })
                    </div>
                    <div class="col-md-2" style="padding-left: 0px;">
                        <input type="button" class="btn btn-primary btn-sm" id="btnSearch" value="Search" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <table id="tblCallHistory" class="table table-bordered table-hover table-responsive table-striped" style="overflow: auto" align-content: center; width: 100%;">
            <thead>
                <tr>
                    <th hidden="hidden"></th>
                    <th hidden="hidden"></th>
                    <th>
                        @Html.DisplayName("Caller Name")
                    </th>
                    <th>
                        @Html.DisplayName("Caller Phone")
                    </th>
                    <th>
                        @Html.DisplayName("Call Reciever")
                    </th>
                    <th>
                        @Html.DisplayName("Country")
                    </th>
                    <th>
                        @Html.DisplayName("Subject")
                    </th>
                    <th>
                        @Html.DisplayName("Description")
                    </th>
                    <th>
                        @Html.DisplayName("Staff")
                    </th>
                </tr>
            </thead>
        </table>

        <div class="modal fade" id="mdlEmployeeDetails" role="dialog" style="overflow: auto" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-lg" style="width: 45%">
                <div class="modal-content" id="EmaployeeDetails">
                    <div id="MdlEmpDetails">

                    </div>
                    <div class="modal-footer">
                        <div id="PopUp" style="float: right">
                            <input type="button" id="btnEmpDetailsClose" value="Close" class="btn btn-default btn-sm" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/CustomScripts/CallHistoryManager.js"></script>
<script>
    var _CallHistoryID;
    var _EmpID;
    var table;
    $(document).ready(function () {

        table = $("#tblCallHistory").DataTable
            ({
                "language":
                {
                    "processing": "<div class='overlay custom-loader-background'><i class='fa fa-cog fa-spin custom-loader-color'></i></div>"
                },
                "processing": true,
                "serverSide": true,

                "ajax":
                {
                    "url": "/CallHistory/GetAllCallHistoryForCompanyStaffAjaxData",
                    "type": "POST",
                    "dataType": "JSON",
                    data: function (d) {
                        d.StartDateID = $("#StartDateID").val();
                        d.EndDateID = $("#EndDateID").val();
                        d.__RequestVerificationToken = $('[name=__RequestVerificationToken]').val();
                    }
                },
                "columnDefs": [
                    { "targets": [0], "width": "5%" },
                    { "targets": [1], "width": "5%" },
                    { "targets": [0], "data": "CallHistoryID", "render": function (data, type, row, meta) { return "<td hidden><input type='hidden' id='CallHistoryID' name='CallHistoryID' value=" + row.CallHistoryID + "></td>" } },

                    { "targets": [1], "data": "EmployeeID", "render": function (data, type, row, meta) { return "<td hidden><input type='hidden' id='EmployeeID' name='EmployeeID' value=" + row.EmployeeID + "></td>" } },

                    { "targets": [4], "data": "EmployeeName", "render": function (data, type, row, meta) { return '<a href="#" id="showEmployee">' + row.EmployeeName + '</a>' } },
                ],
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $(nRow).find("td:eq(0)").attr("hidden", true);
                    $(nRow).find("td:eq(1)").attr("hidden", true);
                    return nRow;
                },

                "columns": [
                    {
                        "data": "CallHistoryID"
                    },
                    {
                        "data": "EmployeeID"
                    },
                    {
                        "data": "CallerName"
                    },
                    {
                        "data": "CallerPhone"
                    },
                    {
                        "data": ""
                    },
                    {
                        "data": "CountryID"
                    },
                    {
                        "data": "Subject"
                    },
                    {
                        "data": "Description"
                    },
                    {
                        "data": "CompanyVsStaffID"
                    },
                ]
            });

        $("#btnSearch").click(function () {
            if (CallHistoryManager.SearchValidationForCompanyStaff() === true) {
                table.draw();
            }

        });

        $("#btnEmpDetailsClose,#detailsMdlClose").click(function () {
            $("#mdlEmployeeDetails").modal("hide");

        });

        $("#tblCallHistory").on("click", "#showEmployee", function (e) {

            e.preventDefault();
            _EmpID = $(this).closest("tr").find("td:eq(1) input").val();

            CallHistoryManager.GetEmployeeDetailsByID(_EmpID);
        });
        $('#StartDateID').datepicker({
            dateFormat: 'mm/dd/yy',
            numberOfMonths: 1,
            changeMonth: true,
            changeYear: true
        });

        $('#EndDateID').datepicker({
            dateFormat: 'mm/dd/yy',
            numberOfMonths: 1,
            changeMonth: true,
            changeYear: true
        });
    });



</script>
